@font-face {
  font-family: "Graphik-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/632da9fa4f45dc45af16fa8d/fonts/graphik-medium.otf")
    format("opentype");
}

@font-face {
  font-family: "Graphik-Regular";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/632da9fa4f45dc45af16fa8d/fonts/graphik-regular.otf")
    format("opentype");
}

/* TODO: Fix CSP or remove completely */
@font-face {
  font-family: "Arial-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/622cf300b3519bff6181cd8f/fonts/fontsfree-net-arial-bold.ttf")
    format("truetype");
}