@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Recoleta-Regular";
  src: url(../../public/fonts/recoleta-regular.woff) format("truetype");
}

@font-face {
  font-family: "Recoleta-Medium";
  src: url(../../public/fonts/recoleta-medium.woff) format("truetype");
}

@font-face {
  font-family: "Graphik-Regular";
  src: url(../../public/fonts/Graphik-Regular-Web.woff2) format("truetype");
}

@font-face {
  font-family: "Graphik-Medium";
  src: url(../../public/fonts/Graphik-Medium-Web.woff2) format("truetype");
}

@font-face {
  font-family: "Graphik-Semibold";
  src: url(../../public/fonts/Graphik-Semibold-Web.woff2) format("truetype");
}

@font-face {
  font-family: "Graphik-Bold";
  src: url(../../public/fonts/Graphik-Bold-Web.woff2) format("truetype");
}

@layer components {
}

@layer utilities {
  body {
    background-color: #ffffff;
  }

  h1 {
    font-size: 2rem;
    font-family: "Recoleta-Regular";
    line-height: 2.5rem;
  }

  h2 {
    font-size: 1.625rem;
    font-family: "Graphik-Regular";
    line-height: 2.5rem;
  }

  h3 {
    font-size: 1.25rem;
    font-family: "Graphik-Regular";
    line-height: 2.5rem;
  }

  .body {
    font-size: 0.9rem;
    font-family: "Graphik-Regular";
    line-height: 1rem;
  }

  .body-bold {
    font-size: 0.9rem;
    font-family: "Graphik-Medium";
    line-height: 1rem;
  }

  .body-small {
    font-size: 0.75rem;
    font-family: "Graphik-Regular";
    line-height: 1rem;
  }

  .body-small-bold {
    font-size: 0.75rem;
    font-family: "Graphik-Medium";
    line-height: 1rem;
  }

  .detail {
    font-size: 0.625rem;
    font-family: "Graphik-Regular";
    line-height: 1rem;
  }

  .body-large {
    font-size: 1rem;
    font-family: "Graphik-Regular";
    line-height: 1.25rem;
  }

  .body-large-bold {
    font-size: 1rem;
    font-family: "Graphik-Medium";
    line-height: 1.25rem;
  }

  .input {
    flex: 1;
    background-color: transparent;
  }

  .interaction-chip {
    font-size: 0.75rem;
    font-family: "Graphik-SemiBold";
    line-height: 0.875rem;
  }

  .raa-text {
    font-size: 3rem;
    font-family: "Graphik-SemiBold";
    line-height: 4rem;
  }

  .raa-text-big {
    font-size: 5rem;
    font-family: "Graphik-SemiBold";
    line-height: 6rem;
  }

  .layout-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header header"
      "sidebar main";
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .header {
    grid-area: header;
  }

  .sidebar {
    grid-area: sidebar;
  }

  .main {
    grid-area: main;
    overflow-y: scroll;
    height: 100%;
  }

  .invisible-input {
    opacity: 0;
    height: 0;
    width: 0;
  }
}
